@import "_navbar";
@import "_header";
@import "_events";
@import "_explore";
@import "_tours";
@import "_footer";

:root {
    --primary-color: #fc036b;
    --secondary-color: #484872;
    --thirdy-color: #49497e;
    --text-color: whitesmoke;
    --transition: all 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,
body {
    overflow-x: hidden;
}

.line {
    width: 150px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 10px auto;
}

.active {
    color: var(--primary-color);
}

section {
    width: 80%;
    margin: 80px auto;
}

a {
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.2rem;

}

.navbar-links a:hover {
    color: var(--secondary-color)
}

.navbar-links a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--transition);
}

.navbar-links a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color)
}

#contact::after {
    display: none;
}

h4 {
    font-size: 3vmin;
    color: var(--secondary-color);
    margin: 25px auto;
}

p {
    color: #7c7c7c;
    padding: 0 40px;
}

.btn {
    padding: 10px 15px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--text-color);
    transition: var(--transition);
}

.btn:hover {
    color: var(--primary-color);
    background-color: var(--text-color);
}

.events-row,
.tours-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
}



@media only screen and (max-width:850px) {

    .navbar {
        padding: 0;

        &-logo {
            position: absolute;
            top: 30px;
            left: 30px;
            color: var(--text-color);
            z-index: 1500;
        }

        &-links {
            background: var(--secondary-color);
            width: 100%;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            transition: all .5s ease;
            position: absolute;
            margin-top: -850px;

            li {
                margin: 30px auto;
            }
        }

        &-menu-btn {
            display: block;
        }
    }

    .mobile-menu {
        margin-top: 0;
        border-bottom-right-radius: 30%;
    }
}



@media (max-width: 1800px) {

    .events-row,
    .tours-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: 5rem;
    }
}